# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Julia specific
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
Manifest.toml

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Operating System Files
.DS_Store
Thumbs.db
